body { 
    margin: 0;
    overflow: hidden;
    color: black;
    background-color: #cbcbcb;
    font-family: 'Dosis', sans-serif;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

.pre {
    position: absolute;
    text-align: center;
    width: 1280px;
    top: 180px;
}

.end {
    position: absolute;
    text-align: center;
    width: 1280px;
    font-size: 70px;
    font-weight: bold;
    top: 200px;
    opacity: 0;
}

.componame {
    font-size: 80px;
    font-weight: bold;
    line-height: 0px;
    -webkit-text-stroke: 0px red;
}

.startingsoon {
    font-size: 60px;
    line-height: 30px;
}

.compo-title {
    position: absolute;
    font-size: 72px;
    left: 90px;
    top: 140px;
}

.entry-container {
    opacity: 0;
}

.entry-holder {
    background-color: #d6d6d6;
    position: absolute;
    top: 240px;
    left: 90px;
    width: 1100px;
    height: 233px;
    opacity: 0.92;
}

.nextentry {
    position: absolute;
    top: 240px;
    left: -1280px;
    width: 1280px;
    height: 233px;
}

.nextentry-title {
    margin-top: 70px;
    font-size: 62px;
    text-align: center;
}

.bgrender {
    opacity: 1;
}

.entry-image {
    background: url("") no-repeat center center;
    background-size: cover;
    width: 415px;
    height: 233px;
}

.entry-title {
    position: absolute;
    top: 30px;
    left: 435px;
    width: 700px;
    font-size: 3vw;
}

.entry-description {
    position: absolute;
    top: 130px;
    left: 435px;
    width: 650px;
    height: 100px;
    font-size: 16px;
    overflow: hidden;
}

.entry-counter {
    position: absolute;
    top: 10px;
    left: 585px;
    width: 500px;
    height: 100px;
    font-size: 16px;
    text-align: right;
    overflow: hidden;
}


.progress {
    position: absolute;
    top: 508px;
    left: 90px;
    width: 1100px;
    height: 34px;
    background-color: #cbcbcb;
    border-color: #9b9b9b;
    border-width: 2px;
    border-style: solid;
    opacity: 0.9;
}

.progress-bar {
    background-color: #9b9b9b;
    height: 34px;
    width: 0%;
}

.vibrant-fg {

}

.vibrant-bg {

}

.darkvibrant-fg {

}

.darkvibrant-bg {

}

.muted-bg {

}

.muted-bg {

}

.darkmuted-fg {

}

.darkmuted-bg {

}